[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.Lab1
Exec=/usr/bin/ru.auroraos.Lab1
Name=Template
Name[ru]=Шаблон

[X-Sailjail]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=Lab1
ExecDBus=/usr/bin/ru.auroraos.Lab1