[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.Lab2
Exec=/usr/bin/ru.auroraos.Lab2
Name=Template
Name[ru]=Шаблон

[X-Sailjail]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=Lab2
ExecDBus=/usr/bin/ru.auroraos.Lab2