[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.Project
Exec=/usr/bin/ru.auroraos.Project
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=Project
ExecDBus=/usr/bin/ru.auroraos.Project
