[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.Lab2
Exec=/usr/bin/ru.auroraos.Lab2
Name=Trofimoff2
Name[ru]=Trofimoff2

[X-Sailjail]
Permissions=Audio;Camera;Documents;Downloads;Internet;Microphone;Music;Pictures;Videos
OrganizationName=ru.auroraos
ApplicationName=Lab2
ExecDBus=/usr/bin/ru.auroraos.Lab2
