[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.Lab3
Exec=/usr/bin/ru.auroraos.Lab3
Name=Template
Name[ru]=Шаблон

[X-Sailjail]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=Lab3
ExecDBus=/usr/bin/ru.auroraos.Lab3