[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.Lab5
Exec=/usr/bin/ru.auroraos.Lab5
Name=Zaytsev5
Name[ru]=Zaytsev5

[X-Sailjail]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=Lab5
ExecDBus=/usr/bin/ru.auroraos.Lab5
