[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.Task2
Exec=/usr/bin/ru.auroraos.Task2
Name=Grisch4_2
Name[ru]=Grisch4_2

[X-Sailjail]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=Task2
ExecDBus=/usr/bin/ru.auroraos.Task2