[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.Lab6
Exec=/usr/bin/ru.auroraos.Lab6
Name=Ryabtsev7
Name[ru]=Ryabtsev7

[X-Sailjail]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=Lab6
ExecDBus=/usr/bin/ru.auroraos.Lab6